.hero {
    height: 100vh;
    background-image: url("../img/hero04.png");
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.center-v-content {
    margin-top: 28vh;
}
body {
    background: #dada;
}
/* Mensages */
#messageslist {
    height: 70vh;
    overflow-y: scroll;
}
#messageslist::-webkit-scrollbar{
    display: none;
}
#messageslist::-webkit-scrollbar-thumb{
    display: none;
}
/* Body */
body::-webkit-scrollbar{
    width: 7px;
    background: rgba(0, 184, 228, .2)
}
body::-webkit-scrollbar-thumb{
    background: #F1DA53;
    border-radius: 5px;
}
#loader {
    height: 100vh;
    padding-top: 34vh;
}